@use "../abstracts" as *;

// default button styling
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  font-weight: $fw-700;
  padding: 1.125em 2em;
  transition: 275ms ease;

  // primary buttons styling
  &[data-type="primary"] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
  }

  // secondary buttons styling
  &[data-type="outline"] {
    --outline-unit: 5px;
    background: transparent;
    outline: var(--outline-unit) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-unit) * -1);
    color: clr(neutral, 100);
  }

  &:is(:hover, :focus) {
    background: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}
