$clr-palette: (
  primary: (
    400: hsl(0, 100%, 67%),
    500: hsl(259, 100%, 65%),
    // 800: darkblue,
  ),
  neutral: (
    200: hsl(0, 0%, 94%),
    300: hsl(0, 0%, 86%),
    600: hsl(0, 1%, 44%),
    900: hsl(0, 0%, 8%),
  ),
  // clr-black: (
  //   "black": hsl(0, 0%, 0%),
  // ),
  // clr-white: (
  //   "white": hsl(0, 0%, 100%),
  // ),,,,,,,,,,,,,,,,
);

//this is largle based on Google's Material Theme
// $clr-palette-primary
// $clr-palette-neutral
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);