@use "../abstracts/mixins" as *;

:root {
  --fs-heading-xl: 3.5rem;
  --fs-heading-s: 1.25rem;
  --fs-heading-xs: 0.75rem;
  --fs-heading-body: 1rem;
}

@include mq(tablet) {
  :root {
    --fs-heading-xl: 6.5rem;
    --fs-heading-s: 2rem;
    --fs-heading-xs: 0.875rem;
    --fs-heading-body: 1.125rem;
  }
}

$ff-primary: "Poppins", sans-serif;
//$ff-secondary

// $font-sizes: (
//   xl: 3.75rem,
//   l: 3rem,
//   m: 2rem,
//   s: 1.125rem,
//   xs: 1rem,
// );

$fw: (
  400: 400,
  700: 700,
  800: 800,
);
