$ff-primary: "Open Sans", sans-serif;
//$ff-secondary

// $font-sizes: (
//   900: 3.75rem,
//   800: 3rem,
//   600: 1.5rem,
//   500: 1.3125rem,
//   400: 1.125rem,
// );

$font-sizes: (
  xl: 3.75rem,
  l: 3rem,
  m: 2rem,
  s: 1.125rem,
  xs: 1rem,
);

$fw-400: 400;
$fw-700: 700;
